*{
  box-sizing: border-box;
}

body {
/* background-image: url("../img/gradient.jpg"); */
background-color: grey;
background-image: linear-gradient(to bottom right, #bdc3c7 , #2c3e50);
font-family: 'Lato', sans-serif;
margin: 0;
}

.header{
  background-color: #bdc3c7;
  padding: 15px;
  text-align: center;
  font-size: 25px;
}

.navbar{
  display: flex;
  background-color: #333;
}

.navbar a {
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    text-align: center;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.flex-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center;
  padding: 1rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  #333;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}

li a action{
  background-color: inherit;
}
section {
  line-height: 1.6;
}
article {
  line-height: 1.6;
}

p {
  text-indent: 50px
}
h2{
  margin: 2rem;
  text-decoration: overline;
  font-weight: bold;
  text-align: center;
}
img {
    border: 2px solid black;
    width: 25%;
}

.firstpage-text{
  margin: 2rem;
}

.footer {
    padding: 20px;
    text-align: center;
    background:  gray;
    display: flex;
    justify-content: center;
    flex-direction: row;
    list-style-type:  none;
}

.content {
  padding: 2rem;
  list-style-type: none;
}
