body {
/* background-image: url("../img/gradient.jpg"); */
background-color: grey;
background-image: linear-gradient(to bottom right, #bdc3c7 , #2c3e50);
}

h1 {
  text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  #333;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}
section {
  line-height: 1.6;
}
article {
  line-height: 1.6;
}
p {
  text-indent: 50px
}
h2{
  text-decoration: overline
}
img {
    border: 2px solid black;
    width: 25%;
}
footer {
    padding: 20px;
    text-align: center;
    background:  #333;
    color: white;
    margin-top: 20px;
}
